{% extends 'base.html' %}

{% block content %}

    <h1>Howdy!</h1>

    <p>
        This is the home page of my fifth project of my Python course. I definitely think
        that my Flask project is lacking, but I hope I can make up for that with slightly
        cool ideas.
    </p>

    <p>
        How this site works is pretty simple. You can click on my name that will take you
        to a page that says howdy to me, thank you :D . The add band part of the navbar
        will take you to the page that lets you input information for a band in three
        separate fields: Band Name, Year Formed, and Price. I'm not sure what price means,
         but I believe my idea was to have prices that way you could search for bands or 
        purchase bands for a price.
    </p>

    <p>
        The Bands part in the navbar will display all the information on bands currently
        in the database. You will notice that they are clickable. Upon being clicked you
        will be taken to another page where you will have the opportunity to change the 
        values of the three fields. When you end up on that page it will say "band updated
         succesfully", don't believe that lie. I can't seem to fix it. So when you hit submit
        it will officially be committed.
    </p>

    <P>
        Enjoy!
    </P>

{% endblock %}